body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

footer {
  text-align: right;
  padding: 30px;
}

main {
  text-align: center;  
  margin-left: 10%;
  margin-right: 10%;
}

textarea[name="user-input"] {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  resize: vertical;
  tab-size: 4;
  border-color: rgba(31, 41, 55, 0.1);
  border-style: solid;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#clear-button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

#clear-button:hover {
  opacity: 1;
}

.metrics {
  margin-top: 20px;
  margin-bottom: 20px;
}

.metric {
  background-color: rgb(255, 255, 255);
  border-color: rgba(31, 41, 55, 0.1);
  border-style: solid;
  border-radius: 10px;
  text-align: center; 
  display: inline-block; 
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.metric-title {
  color: rgba(31, 41, 55, 0.6);
}

.metric-value{
  font-size: 34px;
}